%float-left{float: left;}
%float-right{float: right;}

%text-indent{
	text-indent: -9999px;
}

%font-arimo{
	font-family: 'Arimo', sans-serif;
}

%HelveticaNeueLTStd-ThCn{
	font-family: 'HelveticaNeueLTStd-ThCn';
}

%style-text{
	line-height: 18px;
	font-weight: bold;
	color: $black;
}
