$black:#000;
$white:#fff;
$gray:#7f7f7f;
$grayLight:#d4d4d4;
$graySuperLight:#e6e6e6;
$grayLightBorder:#d5d8d8;
$grayDark:#535353;
$orange:#f1bd00;


$blue:#00aeef;
$pink:#f53786;
$yellow:#f6d82e;
$green:#29db61;
$purple:#6a29db;
$orange:#ff6d05;
$red:#ff0550;
$purpleLight:#d735dd;

$white90:rgba(255, 255, 255, 0.8);
$black05:rgba(0, 0, 0, 0.05);